body {
	background-color: #0089c7;
	background-image: url('./background.png');
	background-size: 8640px 4320px;
	color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	cursor: default;
	animation: backgroundWave 40s ease-in-out infinite;
	margin: 0;
}
@keyframes backgroundWave {
	0% { background-position: 0 0; }
	50% { background-position: -4320px -2160px; }
	100% { background-position: 0 0; }
}

#pop {
	background-color: #00000098;
	display: block;
	width: 70%;
	padding: 20px 30px;
	margin-top: 150px;
	margin-left: 100px;
	border-radius: 20px;
}

h1, h2 {margin: 10px 0;}

h1 {
	font-size: 40px;
}
h2 {
	color: #808080;
	margin-left: 20px;
}

@media screen and (max-width: 600px) {

	#pop {
		margin: 20px;
		width: unset;
	}

}