#MobileHeader {
	background-color: white;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
}

#MobileHeader #myLinks {
  display: none;
}

#MobileHeader a {
  color: white;
  padding: 14px 16px;
  background-color: black;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

#MobileHeader a.icon {
  background: black;
  display: block;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
#MobileHeader #mobileName {
	color:black;
	background-color:white;
}

@media screen and (max-width: 910px) {
	#DesktopHeader {
		display: none;
	}
	#MobileHeader {
		display: inline;
	}
	#Home h1 {
		float: none;
		text-align: left;
		width: 100%;
	}
	#projects div::after {
		content: none;
		display: none;
	}
	#projects div:hover::after {
		content: none;
		display: none;
	}
	.rvbar {
		font-size: 26px;
		width: 90%;
	}
	.rvbar:hover {
		letter-spacing: 2px;
	}
	#ReviPost img {
		height: 300px;
	}
	#ReviPost img:hover {
		height: 325px;
	}
	.gradient-button {
		width: 100%;
	}
	#Cascade h1 {
		font-size: 80px;
		margin-top: 50px;
	}
	#Cascade #go {
		font-size: 60px;
	}
}

@media screen and (max-width: 575px) {
	#Home h1 {
		font-size: 35px;
	}
	#homeprofile {
		width: 100%;
	}
	#homeprofile:hover {
		width: 100%;
	}
	footer {
		font-size: 20px;
	}
	#posts div {
		font-size: 25px;
	}
	#BlogPost p {
		width: 80%;
	}
	.gradient-button {
		font-size: 15px;
	}
	#rev-groups {
		margin-left: 40px;
	}
	#rev-groups div {
		font-size: 30px;
	}
	#rev-groups div:hover {
		font-size: 34px;
	}
	#rev-groups div:hover {
		width: 80%;
	}
	.rvtable {
		margin-left: 20px;
	}
	.rvbar::after {
		font-size: 15px;
	}
	.rvbar:hover {
		width: 90%;
	}
}

@media screen and (max-width: 477px) {
	#posts div {
		line-height: 50px;
	}
	#posts div::after {
		font-size: 15px;
	}
	#posts div:hover {
		margin-left: 15px;
		letter-spacing: 1.5px;
	}
	#BlogPost p {
		font-size: 25px;
	}
	#projects {
		margin-left: 30px;
	}
	#projects div:hover {
		padding-left: 20px;
	}
	#rev-groups div:hover {
		font-size: 27px;
		padding-left: 20px;
	}
	#RMovie h1, #RGame h1, #RTele h1 {
		font-size: 50px;
	}
	.rvtable {
		margin-left: 0px;
	}
	.rvbar:hover {
		letter-spacing: 0px;
	}
	#ReviPost h1 {
		width: 100%;
		font-size: 45px;
	}
	#ReviPost h1::after {
		float: none;
	}
	#RevImage {
		display: none;
	}
	#ReviPost p {
		width: 100%;
		padding-left: 10px;
		font-size: 25px;
	}
	#ReviPost h2 {
		width: 100%;
	}
	.reviback {
		width: 100%;
	}
	.reviback:hover {
		font-size: 30px;
	}
	#Archivals .book {
		font-size: 30px;
		border-width: 2px;
	}
	#Archivals .book:hover {
		font-size: 35px;
		border-width: 3px;
		letter-spacing: 1px;
	}
	#Archivals {
		margin-left: 10px;
	}
	#TimeMachine h2 {
		font-size: 40px;
		letter-spacing: 1px;
	}
	#TimeMachine h2:hover {
		letter-spacing: 2px;
	}
	.webp {
		width: 100%;
		height: 200px;
	}
	.webp:hover {
		width: 100%;
	}
	#TImage {
		width: 100%;
	}
	.timeback {
		width: 100%;
	}
	.timeback:hover {
		font-size: 30px;
	}
	#Cascade h1 {
		font-size: 40px;
		margin-top: 125px;
	}
	#Cascade #go {
		font-size: 40px;
		margin-top: 40px;
	}
	.artcollection {
		width: 100%;
	}
	.artcollection:hover {
		width: 100%;
		transform: rotate(-7deg);
	}
	.artpro {
		width: 100%;
		height: auto;
	}
	.artpro:hover {
		width: 100%;
		height: auto;
	}
	.artback {
		width: 100%;
	}
	.artback:hover {
		width: 100%;
		font-size: 30px;
	}
}

@media screen and (max-width: 380px) {
	#projects {
		margin-left: 10px;
	}
	#Blog h1 {
		font-size: 70px;
		margin-bottom: 40px;
	}
	#Inkwork h1 {
		font-size: 70px;
		margin-bottom: 40px;
	}
	#posts div {
		line-height: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#rev-groups {
		margin-left: 10px;
	}
	#rev-groups div {
		width: 100%;
		font-size: 30px;
	}
	#rev-groups div:hover {
		width: 100%;
		font-size: 30px;
		padding-left: 10px;
		letter-spacing: 1px;
	}
	#Review h1 {
		font-size: 70px;
		margin-bottom: 40px;
	}
	#Archivals .book::before {
		opacity: 1;
	}
	#Archivals .book:hover {
		font-size: 30px;
		letter-spacing: 0px;
	}
	#Cascade {
		margin-left: 10px;
		margin-right: 10px;
	}
	#Cascade h1 {
		font-size: 40px;
	}
	#Cascade #go {
		font-size: 30px;
	}
}